body {
    font-family: 'Courier New', Courier, monospace;
    background: #ebebe8;
}

.profile {
    display: inline-block;
    background: #778a35;
    width: 100%;
    height: 20%;
    margin-bottom: 0%;
}

#backButton {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    width: 30px;
    height: 30px;
}

#profileImg {
    margin-right: 5%;
    float: right;
    width: 150px;
    height: 150px;
}

#userName {
    float: right;
    margin-top: 5%;
    color: white;
}

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 300px;
    height: 300px;
}

#divDonation {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#donationButton, #btn {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 50%;
    margin-right: 50%;
}

#loginModal {
    background: #d1e2c4;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 1000ms;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#donationTitle {
    text-align: center;
    font-size: 30px;
}

#titleLogin {
    margin-top: 0%;
    padding: 3%;
    background:#778a35;
    color: white;
}

#loginForm {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

#loginAccountButton {
    margin: 4%;
    height: auto;
}

#close, #closeQrcode {
    margin-right: 10px;
    float: left;
    height: 20px;
    width: 20px;
}

#loginTitle {
    width: calc(100% - 350px - 10px); 
}

#description {
    margin: 5%;

}

@keyframes animate {
    from{opacity: 1};
    from{opacity: 0};
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #ebebe8;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding: 3%;
    margin-top: 0%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    color: white;
    background-color: #778a35;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ebebe8;
  }
  
  .btn {
      display: block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .success {
    border-color: #778a35;
    color: black;
  }
  
  .success:hover {
    background-color: #778a35;
    color: white;
  }

  input[type=text], input[type=number], input[type=date], input[type=password], select:focus{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
  }
  
  /* The Close Button */
  .close, .closeQrcode {
    margin-right: 3%;
    margin-top: 3%;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
  }
  
  .close:hover,
  .close:focus, 
  .closeQrcode:hover,
  .closeQrcode:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

